.navbar-brand{
    color: whitesmoke !important;
    font-family: 'Cookie', cursive !important;
    font-size: 20pt;
    float: left;
}


#btnLogOut{
    color: whitesmoke;
    float: right !important;
    position: right !important;
}

.navbar{
    background-color: #ce0a48;
    border-radius: 0px;
}

.img-thumbnail{
    float: left;
}

#totalBayar{
    background-color: #ce0a48;
    color: whitesmoke;
}

.table-striped{
    height: 300pt;
}

#btnPay{
    background-color: #ce0a48;
    color: whitesmoke;
    float: right;
}

.modal-header{
    background-color: #ce0a48;
    color: whitesmoke !important;
    font-family: 'Cookie', cursive !important;
    font-size: 20pt;
}

.topModal{
    font-size: 30pt;
}

.sidebar{
        width: 178px;
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}
.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.sidebar .glyphicon {
    float: right;
}

.sidebar .glyphicon glyphicon-chevron-left:before {
    content: "glyphicon-chevron-left";
}

.sidebar .active>a>.glyphicon glyphicon-chevron-left:before {
    content: "glyphicon glyphicon-chevron-down";
}

#chart{
    -ms-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
  }
.link{
    text-decoration: underline;
}

.tablemenu{
    padding-left: 55px;
}

.judul{
    text-align: center !important;
}

.kop{
    background-color: #ce0a48 !important;
    color: whitesmoke;
}