<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rouge+Script"/>


    </div>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">mantapos</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="#">Discount</a></li>
                <li><a href="/employee">Employee</a></li>
                <li><a href="/saldo/1">Saldo</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Keuangan
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/outcome/1">Outcome</a></li>
                        <li><a href="/income/1">Income (Non transaction)</a></li>
                        <li><a href="/range">General Ledger</a></li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-header navbar-right">
                <form action="/logout" method="post" id="logoutForm">
                    <input type="hidden" name="${_csrf.parameterName}"
                           value="${_csrf.token}" />
                    <a onclick="document.getElementById('logoutForm').submit()" href="#" id="#btnLogOut" class="navbar-brand"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </form>
            </div>
        </div>
    </nav>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>