<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
        <script src="https://use.fontawesome.com/65cbf9020d.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rouge+Script"/>


    </div>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">mantapos</a>
            </div>
            <div class="navbar-header navbar-right">
                <form action="/logout" method="post" id="logoutForm">
                    <input type="hidden" name="${_csrf.parameterName}"
                           value="${_csrf.token}" />
                <a onclick="document.getElementById('logoutForm').submit()" href="#" id="#btnLogOut" class="navbar-brand"><span class="fa fa-sign-out"></span> Logout</a>
                </form>
            </div>
        </div>
    </nav>
</div>
</body>
</html>