<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
        <script src="https://use.fontawesome.com/65cbf9020d.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rouge+Script"/>
    </div>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">mantapos</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/menu">Menu</a></li>
                <!--<li><a href="#">Discount</a></li>-->
                <li><a href="/employee">Employee</a></li>
                <li><a href="/saldo">Saldo</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Keuangan
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/outcome">Outcome</a></li>
                        <!--<li><a href="/income">Income (Non transaction)</a></li>-->
                        <li><a href="/range">General Ledger</a></li>
                    </ul>
                </li>
            </ul>
            <div class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a id="usernamee2" class="dropdown-toggle" data-toggle="dropdown" href="#" th:text="${username}"/>
                    <ul class="dropdown-menu">
                        <li>
                            <a onclick="document.getElementById('logoutForm').submit()" href="#" id="#btnLogOut"><span class="fa fa-sign-out"></span> Logout</a>
                        </li>
                    </ul>
                </li>
            </div>
            <form action="/logout" method="post" id="logoutForm" >
                <input type="hidden" name="${_csrf.parameterName}"
                       value="${_csrf.token}" />
            </form>
        </div>
    </nav>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>