<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="sidebar-css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
        <script src="https://use.fontawesome.com/65cbf9020d.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rouge+Script"/>
    </div>
</head>
<body>
<div th:fragment="sidebar">
    <div class="col-md-2" style="padding-left: 0px">
        <div class="navbar-default sidebar" role="navigation">
            <div class="nav" id="side-menu">
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="/menu"><i class=""></i>Menu</a>
                </li>
                <li>
                    <a href="#"><i class=""></i>Discount</a>
                </li>
                <li>
                    <a href="/employee"><i class=""></i>Employee</a>
                </li>
                <li>
                    <a href="/saldo"><i class=""></i>Saldo</a>
                </li>
                <li>
                    <a href="#">Keuangan<span class="fa fa-sign-out"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/outcome">Outcome</a>
                        </li>
                        <li>
                            <a href="/range">General Ledger</a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</div>
</body>
</html>