<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="sidebar-css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rouge+Script"/>
    </div>
</head>
<body>
<div th:fragment="sidebar">
    <div class="col-md-2" style="padding-left: 0px">
        <div class="navbar-default sidebar" role="navigation">
            <div class="nav" id="side-menu">
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="/menu"><i class=""></i>Menu</a>
                </li>
                <li>
                    <a href="#"><i class=""></i>Discount</a>
                </li>
                <li>
                    <a href="/employee"><i class=""></i>Cashier</a>
                </li>
                <li>
                    <a href="#">Keuangan<span class="glyphicon glyphicon-chevron-left"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/outcome">Outcome</a>
                        </li>
                        <li>
                            <a href="/range">General Ledger</a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</div>
</body>
</html>