body{
    background: whitesmoke;
}

.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}

.info-box-icon,
.info-box-icon > li{
    color: white;
    border-radius: 2px 0 0 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0, 0, 0, 0.2);
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}

.info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.info-box-icon > img {
    max-width: 100%;
}

.bg-aqua{
    background-color: #00c0ef !important;
}
.bg-red{
    background-color: #dd4b39 !important;
}
.bg-green{
    background-color: #00a65a !important;
}
.bg-yellow{
    background-color: #f39c12 !important;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #ce0a48;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #ffffff;
}

.loginForm{
    padding: 100px;
}
.inputLogin{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid grey;
    box-sizing: border-box;
}
.containerLogin{
    padding: 16px;
    width: 50%;
    margin: auto;
}
.titleMantapos{
    text-align: center;
    font-family: 'Rouge Script', cursive;
    color: #ce0a48;
    font-size: 40pt;
}

.buttonSubmit{
    background-color: #ce0a48;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    /*Belum berfungsi
     font-family: 'MyWebFont', Arial, sans-serif; */
}

.buttonSubmit:hover {
    opacity: 0.8;
}

div.scroll {
    width: auto;
    height: 400px;
    overflow: scroll;
}

a.menuCard{
    color: #000000;
    text-decoration: none;
}

a.menuCard:hover{
    color: #000000;
    text-decoration: none;
}

div.scroll.menu{
    height: 550px;
    overflow: scroll;
}

.panel-navbar{
    margin-bottom: 0px;
}

.panel-navbar-body{
    padding: 5px;
}

#listMenu{
    height: 530px;
}

.navbar-brand{
    font-family: 'Rouge Script', cursive;
    color: whitesmoke !important;
    font-size: 35px;
    float: left;
}

#btnLogOut{
    /*color: whitesmoke;
    float: right !important;*/
    font-family: Helvetica, serif;
    /*position: right !important;*/
}

div.container.col-md-8 {
    padding: 10px;
    background: white;
    border-radius: 4px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    box-shadow: 2px 2px 5px 0px rgba(199,199,199,1);
}

.navbar{
    background-color: #ce0a48;
    border-radius: 0px;
}

#food{

}

.img-thumbnail{
    float: left;
}

#totalBayar{
    /*background-color: #ce0a48;*/
    color: white;
    margin: 0px;
    vertical-align: middle;
    line-height: 40px;
    vertical-align: middle;
}

div.col-md-12.totalBayar {
    background: #ce0a48;
    border-radius: 2px;
    margin-bottom: 20px;
    height: 40px;
}
div.panel.panel-default.panel-menu{
    box-shadow: 2px 2px 5px 0px rgba(199,199,199,1);
}

div.panel.panel-default.panel-menu:hover{
    box-shadow: 4px 4px 7px 0px rgba(199,199,199,1);
}

.table-striped{
    /*height: 300pt;*/
}

#btnPay{
    background-color: #ce0a48;
    color: whitesmoke;
    float: right;
    width: 100%;
}

.modal-header{
    background-color: #ce0a48;
    color: whitesmoke !important;
    font-family: 'Helvetica Neue';
    font-size: 20pt;
}

h5#custNameReceipt, h5#priceTotalReceipt, h5#CashReceipt, h5#ChangeReceipt{
    font-weight:400;
}

.receipt-header{
    margin-top: 10px;
    background-color: #ce0a48;
    color: whitesmoke !important;
    font-family: 'Rouge Script', cursive !important;
    font-size: 20pt;
    padding: 10px;
}

.topModal{
    font-size: 30pt;
}

nav li a {
    color: white;
}
nav .navbar-nav li a:hover{
    color: whitesmoke;
    background-color: #920733;
}
nav .navbar-nav li a:focus{
    color:black;
    background-color:ce0a48;
}

.fa fa-sign-out{
    font-size:18px;
}

.btn.btn-btnAddtoCart{
    background-color: #ce0a48;
    color: whitesmoke;
    float: right;
    width: 100%;
}
