<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Restoran Baru</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
    <script src="https://use.fontawesome.com/65cbf9020d.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:replace="fragments/navbar-top-admin :: header"/>
<div class="container" style="margin-top: 50px;">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Daftar Restoran
                <small>Daftar restoran yang terdaftar</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Menu</h3>
                </div>
                <div class="box-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Restoran</th>
                            <th>Alamat</th>
                            <th>Pemilik</th>
                            <th>Username</th>
                            <th>No KTP</th>
                            <th>No Telepon</th>
                            <th>Alamat</th>
                            <th>Nonaktifkan</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="item : ${restoranList}">
                            <tr>
                                <td th:text="${item.namaResto}"/>
                                <td th:text="${item.lokasiResto}"/>
                                <td th:text="${item.namaLengkap}"/>
                                <td th:text="${item.username}"/>
                                <td th:text="${item.nomorKtp}"/>
                                <td th:text="${item.nomorTelepon}"/>
                                <td th:text="${item.alamat}"/>
                                <div th:if="${item.enabled == true}">
                                    <td><a th:href="@{/delete/user/(id=${item.idUser})}">Nonaktifkan</a></td>
                                </div>
                                <div th:if="${item.enabled == false}">
                                    <td><a th:href="@{/active/user/(id=${item.idUser})}">Aktifkan</a></td>
                                </div>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <th:block th:each="page : ${pageList}">
                            <li th:if="${page} == ${pageNo}" class="active"><a th:href="@{/restaurant/(page=${page})}" th:text="${page}"></a></li>
                            <li th:if="${page} != ${pageNo}"><a th:href="@{/restaurant/(page=${page})}" th:text="${page}"></a></li>
                            <!--<li th:unless="${page} != ${pageNo}"><a th:href="@{/menu/{page}(page=${page})}" th:text="${page}"></a></li>-->
                        </th:block>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Tambah Restoran</h3>
                </div>
                <div class="box-body">
                    <form action="/add-restaurant" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    Nama restoran :<br/>
                                    <input class="form-control" type="text" name="namaResto"/>
                                </div>
                                <div class="form-group">
                                    Lokasi restoran :<br/>
                                    <input class="form-control" type="text" name="lokasiResto"/>
                                </div>
                                <div class="form-group">
                                    Nama pemilik :<br/>
                                    <input class="form-control" type="text" name="namaLengkap"/>
                                </div>
                                <div class="form-group">
                                    Username pemilik :<br/>
                                    <input class="form-control" type="text" name="username"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    Password :<br/>
                                    <input class="form-control" type="password" name="password"/>
                                </div>
                                <div class="form-group">
                                    Nomor KTP :<br/>
                                    <input class="form-control" type="text" name="nomorKtp"/>
                                </div>
                                <div class="form-group">
                                    Nomor telepon :<br/>
                                    <input class="form-control" type="text" name="nomorTelepon"/>
                                </div>
                                <div class="form-group">
                                    Alamat pemilik :<br/>
                                    <input class="form-control" type="text" name="alamat"/>
                                </div>
                            </div>
                        </div>
                        <select name="jenisKelamin" class="form-control">
                            <option value="L">Laki-laki</option>
                            <option value="P">Perempuan</option>
                        </select>
                        <button class="form-control btn btn-primary" type="submit">SUBMIT</button>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </section>
        <!--content-->
    </div>
</div>
</body>
</html>