<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>CASHIER</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
    <script src="https://use.fontawesome.com/65cbf9020d.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rouge+Script"/>
</head>
<body onload="startTime()">
<sec:authorize access="hasAuthority('cashier')">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header" style="margin-right: 10px;">
                <a class="navbar-brand" href="#">mantapos</a>
            </div>
            <div class="navbar-header" style="margin-right: 10px;">
                <div class="panel panel-default panel-navbar">
                    <div class="panel-body panel-navbar-body">
                        <h6 th:text="${loggedInUsername}"/>
                    </div>
                </div>
            </div>
            <div class="navbar-header" style="margin-right: 10px;">
                <div class="panel panel-default panel-navbar">
                    <div class="panel-body panel-navbar-body">
                        <h6 id="txtDate"></h6>
                    </div>
                </div>
            </div>
            <div class="navbar-header" style="margin-right: 10px;">
                <div class="panel panel-default panel-navbar">
                    <div class="panel-body panel-navbar-body">
                        <h6 id="txtJam"></h6>
                    </div>
                </div>
            </div>
            <div class="navbar-header navbar-right">
                <form action="/logout" method="post" id="logoutForm">
                    <input type="hidden" name="${_csrf.parameterName}"
                           value="${_csrf.token}" />
                    <a onclick="document.getElementById('logoutForm').submit()" href="#" id="#btnLogOut" class="navbar-brand"><span class="fa fa-sign-out" style="font-size: 22px"></span> Logout</a>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="container col-md-4" id="listMenu">
                <ul class="row nav nav-tabs">
                    <li class="col-md-6 active"><a data-toggle="tab" href="#makanan">FOOD</a></li>
                    <li class="col-md-6"><a data-toggle="tab" href="#minuman">DRINK</a></li>
                </ul>
                <div class="tab-content">
                    <div id="makanan" class="tab-pane fade in active">
                        <div class="scroll menu">
                            <th:block th:each="menu : ${menuList}"
                                      th:if="${menu.kategori_menu == 'food'}">
                                    <!--tanda \ adalah escape character-->
                                    <a class="menuCard" href="#">
                                        <div class="panel panel-default panel-menu" >
                                            <div class="panel-body" >
                                                <img th:src="@{${menu.lokasi_gambar_menu}}" class="img-thumbnail"
                                                     width="80" height="80" style="margin-right: 10px"/>
                                                <h3 th:text="${menu.nama_menu}"/>
                                                <h4 th:text="'Rp ' + ${menu.harga_menu}"/>
                                                <button type="button" class="btn btn-btnAddtoCart" th:id="'btn' + ${menu.id}" th:onclick="'javascript:addToCart(\''+ ${menu.id} +'\',\' '+ ${menu.nama_menu} +'\',\' '+ ${menu.harga_menu} +' \');'">Add to Cart</button>
                                            </div>
                                        </div>
                                    </a>
                            </th:block>
                        </div>
                    </div>
                    <div id="minuman" class="tab-pane fade">
                        <div class="scroll menu">
                            <th:block th:each="menu : ${menuList}"
                                      th:if="${menu.kategori_menu == 'drink'}">
                                <!--tanda \ adalah escape character-->
                                <a class="menuCard" href="#">
                                    <div class="panel panel-default panel-menu">
                                        <div class="panel-body">
                                            <img th:src="@{${menu.lokasi_gambar_menu}}" class="img-thumbnail" alt="ayam goreng"
                                                 width="80" height="80" style="margin-right: 10px"/>
                                            <h3 th:text="${menu.nama_menu}"/>
                                            <h4 th:text="'Rp ' + ${menu.harga_menu}"/>
                                            <button type="button" class="btn btn-btnAddtoCart" th:id="'btn' + ${menu.id}" th:onclick="'javascript:addToCart(\''+ ${menu.id} +'\',\' '+ ${menu.nama_menu} +'\',\' '+ ${menu.harga_menu} +' \');'">Add to Cart</button>
                                        </div>
                                    </div>
                                </a>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <h3>New Order</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="scroll">
                            <table class="table table-striped" id="tableCart">
                                <thead>
                                <tr>
                                    <th>Menu</th>
                                    <th>Qty</th>
                                    <th>Item Price</th>
                                    <th>Total Price</th>
                                    <th></th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="col-md-12 totalBayar">
                            <div>
                                <h3 id="totalBayar" style="text-align:center">Rp 0</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <button id="btnNotes" type="button" class="btn" data-toggle="modal" data-target="#modalNotes">NOTES</button>
                        <button id="btnClear" type="button" class="btn" onclick="window.location.reload()">CLEAR</button>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-4">
                        <button id="btnPay" type="submit" class="btn" data-toggle="modal" data-target="#paymentModal">PAY</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modalNotes" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="topModal">Notes</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="notes">Notes: </label>
                            <textarea name="notes" class="form-control" id="notes"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-submit" data-dismiss="modal" onclick="setNotes()">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="paymentModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="topModal">Payment</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="custName">Name: </label>
                            <input type="text" class="form-control" id="custName" name="customer_name"/>

                            <label for="cash">Cash: </label>
                            <input type="currency" class="form-control" id="cash" name="cash"/>

                            <label for="table_no">Table No: </label>
                            <input type="text" class="form-control" id="table_no" name="table_no"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                        <input type="hidden" name="customer_name" id="inputCustName"/>
                        <input type="hidden" name="table_no" id="inputTableNo"/>
                        <input type="hidden" name="notes" id="inputNotes"/>
                        <input type="hidden" name="biaya" id="inputPriceTotal"/>
                        <!--<%&#45;&#45;<input type="hidden" name="array_id_order" id="array_id_order">&#45;&#45;%>-->
                        <!--<%&#45;&#45;<input type="hidden" name="array_qty" id="array_qty">&#45;&#45;%>-->
                        <button type="button" class="btn btn-submit" data-toggle="modal" onclick="passToChangeModal()">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="changeModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="topModal">Change</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Kembalian: </label>
                            <h5 id="kembalian">Rp 0</h5>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!--<%&#45;&#45;<a target="_blank" href="/receipt">PRINT RECEIPT</a>&#45;&#45;%>-->
                        <!--<%&#45;&#45;DISINI SUBMIT VALUE CUSTOMER NAME, TABLE NO, PRICE TOTAL, DAN NOTES&#45;&#45;%>-->
                        <!--<%&#45;&#45;KE CONTROLLER&#45;&#45;%>-->
                        <!--<button id="btnReceipt" type="submit" class="btn" data-toggle="modal" data-target="#receiptModal" onclick="setReceiptData()">RECEIPT</button>-->
                        <div class="checkbox">
                            <label><input type="checkbox" id="checkboxKirimEmailReceipt" th:onclick="'javascript:checkboxKirimEmailReceipt();'"/>Kirim receipt melalui email?</label>
                        </div>
                        <form action="/add-order" method="post">
                            <input type="hidden" name="namaResto" id="inputRestaurantName" th:value="${restoran.namaResto}"/>
                            <input type="hidden" name="lokasiResto" id="inputRestaurantAddress" th:value="${restoran.lokasiResto}"/>
                            <input type="hidden" name="customer_name" id="inputCustNameChange"/>
                            <input type="hidden" name="table_no" id="inputTableNoChange"/>
                            <input type="hidden" name="notes" id="inputNotesChange"/>
                            <input type="hidden" name="biaya" id="inputPriceTotalChange"/>
                            <input type="hidden" name="cash_paid" id="inputCashPaid"/>
                            <input type="hidden" name="cash_change" id="inputCashChange"/>
                            <input type="hidden" name="array_id_order" id="array_id_orderChange"/>
                            <input type="hidden" name="array_qty" id="array_qtyChange"/>
                            <input type="hidden" name="is_kirim_email_receipt" id="is_kirim_email_receipt"/>
                            <input style="display: none;" name="email_kirim_receipt" placeholder="Masukkan email" type="text" id="inputEmailKirimReceipt"/>
                            <!--<input type="hidden" name="email_kirim_receipt" id="emailKirimReceipt"/>-->
                            <button type="submit" class="btn btn-submit">OK</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="receiptModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 th:text="${restoran.namaResto}" id="restaurantNameReceipt" class="topModal" style="text-align:center"></h4>
                        <h4 th:text="${restoran.lokasiResto}" id="restaurantAddressReceipt" style="text-align: center"></h4>
                        <h5 id="custNameReceipt">Dedy</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <table id="tableReceipt" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Menu</th>
                                    <th>Qty</th>
                                    <th>Total Price</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <h5 id="priceTotalReceipt">Total :  </h5>
                        <h5 id="CashReceipt">Cash :</h5>
                        <h5 id="ChangeReceipt">Change due: </h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="submit" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js/"></script>
    <script th:src="@{/js/order.js}"></script>

</sec:authorize>
</body>
</html>