<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>LOGIN</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
    <script src="https://use.fontawesome.com/65cbf9020d.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rouge+Script"/>
</head>
<body style="background-color: white" onload="document.loginForm.username.focus()">
<div id="login-box">

    <div class="container containerLogin">
        <form class="loginForm" action="/login" name='loginForm' method='POST'>

            <div>
                <h1 class="titleMantapos">mantapos</h1>
                <div th:if="${privilege != null}">
                    <div class="alert alert-danger" th:text="${privilege}"/>
                </div>
                <div th:if="${error != null}">
                    <div class="alert alert-danger" th:text="${error}"/>
                </div>
                <div th:if="${logout != null}">
                    <div class="alert alert-success" th:text="${logout}"/>
                </div>
            </div>
            <label><b>Username</b></label>
            <input class="inputLogin" type="text" placeholder="Enter Username" name="username"/>
            <label><b>Password</b></label>
            <input class="inputLogin" type="password" placeholder="Enter Password" name="password"/>
            <button class="buttonSubmit" type="submit" name="submit">LOGIN</button>

            <input type="hidden" name="${_csrf.parameterName}"
                   value="${_csrf.token}" />

        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js/"></script>
</body>
</html>