<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Pilih Jangka Waktu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rouge+Script"/>
</head>
<body>
    <nav class="navbar" style="margin-bottom: 0px">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">mantapos</a>
            </div>
        </div>
    </nav>
    <div class="col-md-2" style="padding-left: 0px">
        <div class="navbar-default sidebar" role="navigation">
            <div class="nav" id="side-menu">
                <li>
                    <a href="dashboard.html">Dashboard</a>
                </li>
                <li>
                    <a href="manager-menu.html"><i class=""></i>Menu</a>
                </li>
                <li>
                    <a href="discount.html"><i class=""></i>Discount</a>
                </li>
                <li>
                    <a href="cashier.html"><i class=""></i>Cashier</a>
                </li>
                <li>
                    <a href="#">Keuangan<span class="glyphicon glyphicon-chevron-left"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="outcome.html">Outcome</a>
                        </li>
                        <li id="reportmenu">
                            <a href="optionforgeneralledger.html">General Ledger</a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
        <div class="col-md-10">
            <h3>Selamat datang di halaman Buku Besar!</h3>
            <h4>Pilih jangka waktunya</h4>
            <hr/>
        </div>
        <div class="col-md-3 radio">
            <form action="/ledger/1" method="post">
                <input checked="checked" type="radio" name="Skala" value="harian"/>Harian<br/>
                <input type="radio" name="Skala" value="mingguan"/>Mingguan<br/>
                <!--TODO generate bulan ini dari yang ada di DB-->
                <select name="month" id="monthselector">
                    <th:block th:each="item : ${monthAndYearList}">
                        <option th:value="${item.month}" th:text="${item.keperluan}"/>
                    </th:block>
                    <!--<option value="1">January</option>-->
                    <!--<option value="2">February</option>-->
                    <!--<option value="3">March</option>-->
                    <!--<option value="4">April</option>-->
                    <!--<option value="5">May</option>-->
                    <!--<option value="6">June</option>-->
                    <!--<option value="7">July</option>-->
                    <!--<option value="8">August</option>-->
                    <!--<option value="9">September</option>-->
                    <!--<option value="10">October</option>-->
                    <!--<option value="11">November</option>-->
                    <!--<option value="12">December</option>-->
                </select>
                <div>
                    <button type="submit">OK</button>
                </div>
            </form>
        </div>
        <div class="col-md-3 radio">
            <h5>Bulanan:</h5>
            <form action="/ledger/2" method="post">
                <input type="radio" name="Skala" value="bulanan"/>Bulanan<br/>
                <!--TODO generate tahun ini dari yang ada di DB-->
                <select name="year" id="yearselector">
                    <th:block th:each="item : ${monthAndYearList}">
                        <option th:value="${item.year}" th:text="${item.year}"/>
                    </th:block>
                    <!--<option value="2017">2017</option>-->
                    <!--<option value="2016">2016</option>-->
                    <!--<option value="2015">2015</option>-->
                </select>
                <div>
                    <button type="submit">OK</button>
                </div>
            </form>
        </div>
</body>
</html>