<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>MENU</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rouge+Script"/>
</head>
<body>
    <nav class="navbar" style="margin-bottom: 0px">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">mantapos</a>
            </div>
            <div class="navbar-header navbar-right">
                <form action="/logout" method="post" id="logoutForm">
                    <input type="hidden" name="${_csrf.parameterName}"
                           value="${_csrf.token}" />
                    <a onclick="document.getElementById('logoutForm').submit()" href="#" class="navbar-brand" id="#btnLogOut">logout</a>
                </form>
            </div>
        </div>
    </nav>
    <div class="col-md-2" style="padding-left: 0px">
        <div class="navbar-default sidebar" role="navigation">
            <div class="nav" id="side-menu">
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="/dashboard-menu"><i class=""></i>Menu</a>
                </li>
                <li>
                    <a href="discount.html"><i class=""></i>Discount</a>
                </li>
                <li>
                    <a href="cashier.html"><i class=""></i>Cashier</a>
                </li>
                <li>
                    <a href="#">Keuangan<span class="glyphicon glyphicon-chevron-left"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="outcome.html">Outcome</a>
                        </li>
                        <li>
                            <a href="generalledger.html">General Ledger</a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-6">
            <h3>Menu</h3>
            <hr/>
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-6 tablemenu">
            <h4>Menu List</h4>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Price Menu</th>
                    <th>Photo</th>
                    <th>Category</th>
                    <th>Delete Menu</th>
                </tr>
                </thead>
                <tbody>
                    <th:block th:each="menu:${menuList}">
                        <tr>
                            <td th:text="${menu.nama_menu}"/>
                            <td th:text="${menu.harga_menu}"/>
                            <td><a target="_blank" th:href="@{${menu.lokasi_gambar_menu}}">Photo</a></td>
                            <td th:text="${menu.kategori_menu}"/>
                            <td><a th:href="@{/delete/menu/{id}(id=${menu.id})}">Delete</a></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
            <hr/>
        </div>

        <div class="col-md-2 tablemenu">
            <h4>Entry Menu</h4>
            <form action="/add-menu" method="post" enctype="multipart/form-data" commandName="multipartFile">
                Menu Name:<br/>
                <input type="text" name="nama_menu"/><br/>
                Menu Price:<br/>
                <input type="text" name="harga_menu"/><br/>
                Category:<br/>
                <select name="kategori_menu" class="form-control">
                    <option value="food">Food</option>
                    <option value="drink">Drink</option>
                </select>
                Upload Photo:<br/>
                <input type="file" name="multipartFile"/><br/>
                <button type="submit">OK</button>
            </form>
        </div>
    </div>
</body>
</html>