<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ADMIN DASHBOARD</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rouge+Script"/>
</head>
<body>
<div th:replace="fragments/navbar-top-manager :: header"/>
<div th:replace="fragments/navbar-side-manager :: sidebar"/>
        <div class="col-md-10">
            <h3>Financial Graphs</h3>
            <hr/>
        </div>
</body>
</html>