<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${skala_ledger}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rouge+Script"/>
</head>
<body>
    <nav class="navbar" style="margin-bottom: 0px">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">mantapos</a>
            </div>
        </div>
    </nav>
    <div class="col-md-2" style="padding-left: 0px">
        <div class="navbar-default sidebar" role="navigation">
            <div class="nav" id="side-menu">
                <li>
                    <a href="dashboard.html">Dashboard</a>
                </li>
                <li>
                    <a href="manager-menu.html"><i class=""></i>Menu</a>
                </li>
                <li>
                    <a href="discount.html"><i class=""></i>Discount</a>
                </li>
                <li>
                    <a href="cashier.html"><i class=""></i>Cashier</a>
                </li>
                <li>
                    <a href="#">Keuangan<span class="glyphicon glyphicon-chevron-left"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="outcome.html">Outcome</a>
                        </li>
                        <li id="reportmenu">
                            <a href="optionforgeneralledger.html">General Ledger</a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
        <div class="col-md-10">
            <h3 class="judul">Buku Besar</h3>
            <h4 th:text="${skala_ledger}"/>
            <hr/>
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-10 tablemenu">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>KAS</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <div th:if="${skala_ledger == 'HARIAN'}">
                        <th>Tanggal,Jam</th>
                    </div>
                    <div th:if="${skala_ledger == 'MINGGUAN'}">
                        <th>Minggu ke-</th>
                    </div>
                    <div th:if="${skala_ledger == 'BULANAN'}">
                        <th>Bulan ke-</th>
                    </div>
                    <th>Keperluan</th>
                    <th></th>
                    <th>Debit</th>
                    <th>Kredit</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="ledger : ${ledgerList}">
                    <div th:if="${skala_ledger == 'HARIAN'}">
                        <tr>
                            <td th:text="${ledger.waktu}"/>
                            <div th:if="${ledger.tipe == 'debit'}">
                                <td>Penjualan menu</td>
                            </div>
                            <div th:if="${ledger.tipe == 'kredit'}">
                                <td th:text="${ledger.keperluan}"/>
                            </div>
                            <td></td>
                            <div th:if="${ledger.tipe == 'debit'}">
                                <td th:text="${ledger.biaya}"/>
                                <td></td>
                            </div>
                            <div th:if="${ledger.tipe == 'kredit'}">
                                <td></td>
                                <td th:text="${ledger.biaya}"/>
                            </div>
                        </tr>
                    </div>
                    <div th:if="${skala_ledger == 'MINGGUAN'}">
                        <tr>
                            <td th:text="${ledger.week}"/>
                            <div th:if="${ledger.tipe == 'debit'}">
                                <td>Pemasukkan</td>
                            </div>
                            <div th:if="${ledger.tipe == 'kredit'}">
                                <td>Pengeluaran</td>
                            </div>
                            <td></td>
                            <div th:if="${ledger.tipe == 'debit'}">
                                <td th:text="${ledger.biaya}"/>
                                <td></td>
                            </div>
                            <div th:if="${ledger.tipe == 'kredit'}">
                                <td></td>
                                <td th:text="${ledger.biaya}"/>
                            </div>
                        </tr>
                    </div>
                    <div th:if="${skala_ledger == 'BULANAN'}">
                        <tr>
                            <td th:text="${ledger.month}"/>
                            <div th:if="${ledger.tipe == 'debit'}">
                                <td>Pemasukkan</td>
                            </div>
                            <div th:if="${ledger.tipe == 'kredit'}">
                                <td>Pengeluaran</td>
                            </div>
                            <td></td>
                            <div th:if="${ledger.tipe == 'debit'}">
                                <td th:text="${ledger.biaya}"/>
                                <td></td>
                            </div>
                            <div th:if="${ledger.tipe == 'kredit'}">
                                <td></td>
                                <td th:text="${ledger.biaya}"/>
                            </div>
                        </tr>
                    </div>
                </th:block>
                </tbody>
                <thead>
                <tr>
                    <th>Saldo Awal:</th>
                    <th th:text="${saldo_awal}"/>
                    <th>Total:</th>
                    <th th:text="${total_debit}"/>
                    <th th:text="${total_kredit}"/>
                </tr>
                <tr>
                    <th>Saldo Akhir:</th>
                    <th th:text="${saldo_akhir}"/>
                    <th>Mutasi:</th>
                    <th th:text="${mutasi}"/>
                    <th></th>
                </tr>
                </thead>
            </table>
            <hr/>
        </div>
</body>
</html>