<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>EDIT MENU</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script src="https://use.fontawesome.com/65cbf9020d.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rouge+Script"/>
</head>
<body th:onload="'javascript:rename()'">

<div th:replace="fragments/navbar-top-manager :: header"/>

<span id="usernamee" style="display:none" th:text="${username}"></span>

<div class="container containerLogin" style="margin-top: 100px;"><!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Edit Menu
            <small>Edit informasi menu</small>
        </h1>
    </section>
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-body">
                <form action="/edit-menu" method="post" enctype="multipart/form-data" commandName="multipartFile">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-leaf"></i></span>
                            <input class="form-control" type="text" th:value="${menuObject.nama_menu}" name="nama_menu"/>
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-money"></i></span>
                            <input class="form-control" type="text" th:value="${menuObject.harga_menu}" name="harga_menu"/>
                        </div>
                        <br/>
                        <div class="form-group">
                            <strong>Category:<br/></strong>
                            <select name="kategori_menu" class="form-control">
                                <div th:if="${menuObject.kategori_menu == 'food'}">
                                    <option selected="selected" value="food">Food</option>
                                    <option value="drink">Drink</option>
                                </div>
                                <div th:if="${menuObject.kategori_menu == 'drink'}">
                                    <option value="food">Food</option>
                                    <option selected="selected" value="drink">Drink</option>
                                </div>
                            </select>
                        </div>
                    <input class="form-control" type="hidden" th:value="${menuObject.id}" name="id"/>
                        <div class="form-group">
                                <div class="col-md-3">
                                    <img th:src="@{${menuObject.lokasi_gambar_menu}}" class="img-thumbnail"
                                         width="100" height="100"/>
                                </div>
                                <div class="col-md-9">
                                    <input type="hidden" th:value="${menuObject.lokasi_gambar_menu}" name="lokasi_gambar_menu"/>
                                    Upload New Photo:<br/>
                                    <input class="form-control" type="file" name="multipartFile"/><br/>
                                </div>
                        </div>
                    <button class="form-control btn btn-primary" type="submit" style="margin-top: 10px;">OK</button>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </section>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js/"></script>
<script type="text/javascript" src="/js/header.js/"></script>
</body>
</html>