<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script src="https://use.fontawesome.com/65cbf9020d.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rouge+Script"/>
</head>
<body th:onload="'javascript:rename()'">
<div th:replace="fragments/navbar-top-manager :: header"/>

<span id="usernamee" style="display:none" th:text="${username}"></span>

<div class="container containerLogin" style="margin-top: 100px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Edit Pegawai
            <small>Edit informasi pegawai</small>
        </h1>
    </section>
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-body">
                <form action="/edit-user" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input class="form-control" type="text" name="namaLengkap" th:value="${userObject.namaLengkap}"/><br/>
                                </div>
                                <br/>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    <input class="form-control" type="text" name="nomorKtp" th:value="${userObject.nomorKtp}"/><br/>
                                </div>
                                <br/>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                    <input class="form-control" type="text" name="nomorTelepon" th:value="${userObject.nomorTelepon}"/>
                                </div>
                                <br/>
                                <input type="hidden" name="id" th:value="${userObject.id}"/>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-home"></i></span>
                                    <input class="form-control" type="text" name="alamat" th:value="${userObject.alamat}"/><br/>
                                </div>
                                <br/>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user-plus"></i></span>
                                    <input class="form-control" type="text" name="username" th:value="${userObject.username}"/><br/>
                                </div>
                                <br/>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input class="form-control" type="password" name="password" placeholder="Kosongkan jika tidak ingin ganti password"/><br/>
                                </div>
                                <br/>
                            </div>
                        </div>
                        <div>
                        </div>
                        <div th:if="${role == '[owner]'}" class="form-group">
                            <strong>Role:<br/></strong>
                            <select name="role" class="form-control">
                                <div th:if="${userObject.role == 'cashier'}">
                                    <option th:value="manager" th:text="Manager"/>
                                    <option selected="selected" th:value="cashier" th:text="Cashier"/>
                                </div>
                                <div th:if="${userObject.role == 'manager'}">
                                    <option selected="selected" th:value="manager" th:text="Manager"/>
                                    <option th:value="cashier" th:text="Cashier"/>
                                </div>
                            </select>
                        </div>
                        <div th:if="${role == '[manager]'}">
                            <input name="role" type="hidden" th:value="${userObject.role}"/>
                        </div>
                    <div th:if="${userObject.jenisKelamin == 'L'}" class="form-group">
                        <strong>Jenis Kelamin:<br/></strong>
                        <select name="jenisKelamin" class="form-control">
                            <option selected="selected" value="L">Laki-laki</option>
                            <option value="P">Perempuan</option>
                        </select>
                    </div>
                    <div th:if="${userObject.jenisKelamin == 'P'}" class="form-group">
                        <strong>Jenis Kelamin:<br/></strong>
                        <select name="jenisKelamin" class="form-control">
                            <option value="L">Laki-laki</option>
                            <option selected="selected" value="P">Perempuan</option>
                        </select>
                    </div>
                    <button class="form-control btn btn-primary" type="submit">ADD</button>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </section>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js/"></script>
<script type="text/javascript" src="/js/header.js/"></script>
</body>
</html>