<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${skala_ledger}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script src="https://use.fontawesome.com/65cbf9020d.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rouge+Script"/>
</head>
<body th:onload="'javascript:rename()'">
<div th:replace="fragments/navbar-top-manager :: header"/>

<span id="usernamee" style="display:none" th:text="${username}"></span>

<div class="container" style="margin-top: 50px;">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Buku Besar
                <small th:text="${skala_ledger}"/>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Buku Besar</h3>
                </div>
                <div class="box-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>KAS</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <div th:if="${skala_ledger == 'HARIAN'}">
                                <th>Waktu</th>
                            </div>
                            <div th:if="${skala_ledger == 'BULANAN'}">
                                <th>Bulan ke-</th>
                            </div>
                            <div th:if="${skala_ledger == 'TAHUNAN'}">
                                <th>Tahun</th>
                            </div>
                            <div th:if="${skala_ledger == 'CUSTOM'}">
                                <th>Waktu</th>
                            </div>
                            <th>Keperluan</th>
                            <th></th>
                            <th>Debit</th>
                            <th>Kredit</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="ledger : ${ledgerList}">
                            <div th:if="${skala_ledger == 'HARIAN'}">
                                <tr>
                                    <td th:text="${ledger.dateCreated}"/>
                                    <div th:if="${ledger.tipe == 'debit'}">
                                        <td>Penjualan menu</td>
                                    </div>
                                    <div th:if="${ledger.tipe == 'kredit'}">
                                        <td th:text="${ledger.keperluan}"/>
                                    </div>
                                    <td></td>
                                    <div th:if="${ledger.tipe == 'debit'}">
                                        <td th:text="${ledger.biaya}"/>
                                        <td></td>
                                    </div>
                                    <div th:if="${ledger.tipe == 'kredit'}">
                                        <td></td>
                                        <td th:text="${ledger.biaya}"/>
                                    </div>
                                </tr>
                            </div>
                            <div th:if="${skala_ledger == 'BULANAN'}">
                                <tr>
                                    <td th:text="${ledger.month}"/>
                                    <div th:if="${ledger.tipe == 'debit'}">
                                        <td>Pemasukkan</td>
                                    </div>
                                    <div th:if="${ledger.tipe == 'kredit'}">
                                        <td>Pengeluaran</td>
                                    </div>
                                    <td></td>
                                    <div th:if="${ledger.tipe == 'debit'}">
                                        <td th:text="${ledger.biaya}"/>
                                        <td></td>
                                    </div>
                                    <div th:if="${ledger.tipe == 'kredit'}">
                                        <td></td>
                                        <td th:text="${ledger.biaya}"/>
                                    </div>
                                </tr>
                            </div>
                            <div th:if="${skala_ledger == 'TAHUNAN'}">
                                <tr>
                                    <td th:text="${ledger.year}"/>
                                    <div th:if="${ledger.tipe == 'debit'}">
                                        <td>Pemasukkan</td>
                                    </div>
                                    <div th:if="${ledger.tipe == 'kredit'}">
                                        <td>Pengeluaran</td>
                                    </div>
                                    <td></td>
                                    <div th:if="${ledger.tipe == 'debit'}">
                                        <td th:text="${ledger.biaya}"/>
                                        <td></td>
                                    </div>
                                    <div th:if="${ledger.tipe == 'kredit'}">
                                        <td></td>
                                        <td th:text="${ledger.biaya}"/>
                                    </div>
                                </tr>
                            </div>
                            <div th:if="${skala_ledger == 'CUSTOM'}">
                                <tr>
                                    <td th:text="${ledger.dateCreated}"/>
                                    <div th:if="${ledger.tipe == 'debit'}">
                                        <td>Penjualan menu</td>
                                    </div>
                                    <div th:if="${ledger.tipe == 'kredit'}">
                                        <td th:text="${ledger.keperluan}"/>
                                    </div>
                                    <td></td>
                                    <div th:if="${ledger.tipe == 'debit'}">
                                        <td th:text="${ledger.biaya}"/>
                                        <td></td>
                                    </div>
                                    <div th:if="${ledger.tipe == 'kredit'}">
                                        <td></td>
                                        <td th:text="${ledger.biaya}"/>
                                    </div>
                                </tr>
                            </div>
                        </th:block>
                        </tbody>
                        <thead>
                        <tr>
                            <th>Saldo Awal:</th>
                            <th th:text="${saldo_awal}"/>
                            <th>Total:</th>
                            <th th:text="${total_debit}"/>
                            <th th:text="${total_kredit}"/>
                        </tr>
                        <tr>
                            <th>Saldo Akhir:</th>
                            <th th:text="${saldo_akhir}"/>
                            <th>Mutasi:</th>
                            <th th:text="${mutasi}"/>
                            <th></th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
        <!-- Main content -->
        <!--content-->
    </div>
    <!-- /.content-wrapper -->
    <!--<div class="row">-->
    <!--<div class="col-md-2">-->

    <!--</div>-->
    <!--<div class="col-md-6">-->
    <!--<h4>Entry Menu</h4>-->
    <!--</div>-->
    <!--</div>-->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js/"></script>
<script type="text/javascript" src="/js/header.js/"></script>
</body>
</html>