<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>MENU</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rouge+Script"/>
</head>
<body>
<div th:replace="fragments/navbar-top-manager :: header"/>
<div th:replace="fragments/navbar-side-manager :: sidebar"/>
    <div class="container">
        <div class="col-md-6">
            <h3>Menu</h3>
            <hr/>
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-6 tablemenu">
            <h4>Menu List</h4>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Price Menu</th>
                    <th>Photo</th>
                    <th>Category</th>
                    <th>Edit Menu</th>
                    <th>Delete Menu</th>
                </tr>
                </thead>
                <tbody>
                    <th:block th:each="menu:${menuList}">
                        <tr>
                            <td th:text="${menu.nama_menu}"/>
                            <td th:text="${menu.harga_menu}"/>
                            <td><a target="_blank" th:href="@{${menu.lokasi_gambar_menu}}">Photo</a></td>
                            <td th:text="${menu.kategori_menu}"/>
                            <td><a th:href="@{/edit/menu/{id}(id=${menu.id})}">Edit</a></td>
                            <td><a th:href="@{/delete/menu/{id}(id=${menu.id})}">Delete</a></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
            <hr/>
        </div>

        <div class="col-md-2 tablemenu">
            <h4>Entry Menu</h4>
            <form th:object="${menu}" action="/menu" method="post" enctype="multipart/form-data">
                Menu Name:<br/>
                <input type="text" th:field="*{nama_menu}" id="input_nama_menu"/><br/>
                <div th:if="${#fields.hasErrors('nama_menu')}" th:errors="*{nama_menu}"><h6>Error nama</h6></div>
                Menu Price:<br/>
                <input type="number" th:field="*{harga_menu}" id="input_price_menu"/><br/>
                <div th:if="${#fields.hasErrors('harga_menu')}" th:errors="*{harga_menu}"><h6>Error harga menu</h6></div>
                Category:<br/>
                <select th:field="*{kategori_menu}" class="form-control">
                    <option value="food">Food</option>
                    <option value="drink">Drink</option>
                </select>
                Upload Photo:<br/>
                <input type="file" th:field="*{multipartFile}" id="input_photo_menu"/><br/>
                <button type="submit">OK</button>
            </form>
        </div>
    </div>
</body>
</html>