<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>MENU</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script src="https://use.fontawesome.com/65cbf9020d.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rouge+Script"/>
</head>
<body th:onload="'javascript:rename()'">
<div th:replace="fragments/navbar-top-manager :: header"/>

<span id="usernamee" style="display:none" th:text="${username}"></span>

<div class="container" style="margin-top: 50px;">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Daftar Menu
                <small>Daftar menu-menu yang ada</small>
            </h1>
        </section>

        <!-- List Menu content -->
        <section class="content">

            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Menu</h3>
                </div>
                <div class="box-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price Menu</th>
                            <th>Photo</th>
                            <th>Category</th>
                            <th>Edit Menu</th>
                            <th>Delete Menu</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="menu:${menuList}">
                            <tr>
                                <td th:text="${menu.nama_menu}"/>
                                <td th:text="${menu.harga_menu}"/>
                                <td><i class="fa fa-camera text-primary"></i><a target="_blank"
                                                                                th:href="@{${menu.lokasi_gambar_menu}}">Photo</a>
                                </td>
                                <td th:text="${menu.kategori_menu}"/>
                                <td><i class="fa fa-pencil text-primary"></i><a
                                        th:href="@{/edit/menu/(id=${menu.id})}">Edit</a></td>
                                <td><i class="fa fa-trash text-primary"></i><a
                                        th:href="@{/delete/menu/(id=${menu.id})}">Delete</a></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <th:block th:each="page : ${pageList}">
                            <li th:if="${page} == ${pageNo}" class="active"><a th:href="@{/menu/(page=${page})}"
                                                                               th:text="${page}"></a></li>
                            <li th:if="${page} != ${pageNo}"><a th:href="@{/menu/(page=${page})}"
                                                                th:text="${page}"></a></li>
                            <!--<li th:unless="${page} != ${pageNo}"><a th:href="@{/menu/{page}(page=${page})}" th:text="${page}"></a></li>-->
                        </th:block>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
        <!-- Form Add Menu content -->
        <section class="content">

            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Tambah Menu</h3>
                </div>
                <div class="box-body">
                    <form th:object="${menu}" action="/menu" method="post" enctype="multipart/form-data">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-leaf"></i></span>
                            <input class="form-control" type="text" th:field="*{nama_menu}" id="input_nama_menu"
                                   placeholder="Nama Menu"/>
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-money"></i></span>
                            <input class="form-control" type="number" th:field="*{harga_menu}"
                                   id="input_price_menu" placeholder="Harga Menu"/>
                        </div>
                        <br/>
                        <div class="form-group">
                            <strong>Category:<br/></strong>
                            <select th:field="*{kategori_menu}" class="form-control">
                                <option value="food">Food</option>
                                <option value="drink">Drink</option>
                            </select>
                        </div>
                        <strong>Upload Photo:<br/></strong>
                        <input type="file" th:field="*{multipartFile}" id="input_photo_menu"/><br/>
                        <button class="form-control btn btn-primary" type="submit">OK</button>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </section>
        <!--content-->
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js/"></script>
<script type="text/javascript" src="/js/header.js/"></script>
</body>
</html>