<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Outcome</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script src="https://use.fontawesome.com/65cbf9020d.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rouge+Script"/>
</head>
<body th:onload="'javascript:rename()'">
<div th:replace="fragments/navbar-top-manager :: header"/>

<span id="usernamee" style="display:none" th:text="${username}"></span>

<div class="container" style="margin-top: 50px;">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Daftar Pengeluaran
                <small>Daftar pengeluaran yang ada</small>
            </h1>
        </section>
        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">PENGELUARAN</h3>
                </div>
                <div class="box-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Date:</th>
                            <th>Outcome Name</th>
                            <th>Credit:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="outcome:${outcomeList}">
                            <tr>
                                <td th:text="${outcome.dateCreated}"/>
                                <td th:text="${outcome.keperluan}"/>
                                <td th:text="${outcome.biaya}"/>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <th:block th:each="page : ${pageList}">
                            <li th:if="${page} == ${pageNo}" class="active"><a th:href="@{/outcome/(page=${page})}" th:text="${page}"></a></li>
                            <li th:if="${page} != ${pageNo}"><a th:href="@{/outcome/(page=${page})}" th:text="${page}"></a></li>
                        </th:block>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">PENGELUARAN</h3>
                </div>
                <div class="box-body">
                    <form action="/outcome-post" method="post" class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-shopping-basket" /></span>
                            <input class="form-control" type="text" name="keperluan" placeholder="Keperluan pengeluaran"/><br/>
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-plus-square" /></span>
                            <input class="form-control" type="text" name="quantity" placeholder="Quantity Keperluan Pengeluaran"/><br/>
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-money" /></span>
                            <input class="form-control" type="number" name="biaya" placeholder="Biaya Pengeluaran"/><br/>
                        </div>
                        <br/>
                            <button class="form-control btn btn-primary" type="submit">SUBMIT</button>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </section>

    </div>
    <!-- /.content -->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js/"></script>
<script type="text/javascript" src="/js/header.js/"></script>
</body>
</html>