<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Pilih Jangka Waktu</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script src="https://use.fontawesome.com/65cbf9020d.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rouge+Script"/>
</head>
<body th:onload="'javascript:rename()'">
<div th:replace="fragments/navbar-top-manager :: header"/>

<span id="usernamee" style="display:none" th:text="${username}"></span>

<div class="container" style="margin-top: 50px;">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Pilih jangka waktu
                <small>Jangka waktu melihat pemasukkan</small>
            </h1>
        </section>
        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">JANGKA WAKTU</h3>
                </div>
                <div class="box-body">
                    <form action="/ledger" method="post" class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" checked="checked" name="Skala" value="harian" th:onclick="'javascript:chooseLedgerRange(\'0\');'"/>
                                Harian
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="Skala" value="bulanan" th:onclick="'javascript:chooseLedgerRange(\'1\');'"/>
                                Bulanan
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="Skala" value="tahunan" th:onclick="'javascript:chooseLedgerRange(\'2\');'"/>
                                Tahunan
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="Skala" value="custom" th:onclick="'javascript:chooseLedgerRange(\'3\');'"/>
                                Custom
                            </label>
                        </div>
                        <div style="display: none" id="date_picker_awal">
                            Awal:<br/>
                            <input class="form-control" type="date" name="ledger_custom_awal"/><br/>
                        </div>
                        <div style="display: none" id="date_picker_akhir">
                            Akhir:<br/>
                            <input class="form-control" type="date" name="ledger_custom_akhir"/><br/>
                        </div>
                        <!--<select name="month" id="monthselector" class="form-control">-->
                            <!--<th:block th:each="item : ${monthAndYearList}">-->
                                <!--<option th:value="${item.month}" th:text="${item.keperluan}"/>-->
                            <!--</th:block>-->
                        <!--</select>-->
                        <select name="month" id="monthselector" class="form-control">
                            <th:block th:each="item : ${bulanList}">
                                <option th:value="${item}" th:text="'Bulan ke-' + ${item}"/>
                            </th:block>
                        </select>
                        <select name="year" id="yearselector" class="form-control">
                            <option th:value="2018" th:text="'Tahun 2018'"/>
                        </select>
                        <!--<select name="year" id="yearselector" class="form-control">-->
                            <!--<th:block th:each="item : ${monthAndYearList}">-->
                                <!--<option th:value="${item.year}" th:text="${item.year}"/>-->
                            <!--</th:block>-->
                        <!--</select>-->
                            <button class="form-control btn btn-primary" type="submit">OK</button>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </section>

    </div>
    <!-- /.content -->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js/"></script>
<script type="text/javascript" src="/js/header.js/"></script>
<script th:src="@{/js/order.js}"></script>
</body>
</html>