<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Pilih Jangka Waktu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rouge+Script"/>
</head>
<body>
    <div th:replace="fragments/navbar-top-manager :: header"/>
    <div th:replace="fragments/navbar-side-manager :: sidebar"/>
        <div class="col-md-10">
            <h3>Selamat datang di halaman Buku Besar!</h3>
            <h4>Pilih jangka waktunya</h4>
            <hr/>
        </div>
        <div class="col-md-10">
            <form action="/ledger" method="post">
                <div class="row">
                    <input checked="checked" type="radio" name="Skala" value="harian" th:onclick="'javascript:chooseLedgerRange(\'0\');'"/>Harian<br/>
                    <input type="radio" name="Skala" value="mingguan" th:onclick="'javascript:chooseLedgerRange(\'0\');'"/>Mingguan<br/>
                    <input type="radio" name="Skala" value="bulanan" th:onclick="'javascript:chooseLedgerRange(\'1\');'"/>Bulanan<br/>
                    <input type="radio" name="Skala" value="tahunan" th:onclick="'javascript:chooseLedgerRange(\'2\');'"/>Tahunan<br/>
                </div>
                <select name="month" id="monthselector">
                    <th:block th:each="item : ${monthAndYearList}">
                        <option th:value="${item.month}" th:text="${item.keperluan}"/>
                    </th:block>
                </select>
                <select name="year" id="yearselector">
                    <th:block th:each="item : ${monthAndYearList}">
                        <option th:value="${item.year}" th:text="${item.year}"/>
                    </th:block>
                </select>
                <div>
                    <button type="submit">OK</button>
                </div>
            </form>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/js/order.js}"></script>
</body>
</html>