<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Tambah Saldo Awal</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script src="https://use.fontawesome.com/65cbf9020d.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rouge+Script"/>
</head>
<body th:onload="'javascript:rename()'">
<div th:replace="fragments/navbar-top-manager :: header"/>

<span id="usernamee" style="display:none" th:text="${username}"></span>

<div class="container" style="margin-top: 50px;">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Saldo Awal
                <small>Daftar Saldo Awal</small>
            </h1>
        </section>
        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">SALDO AWAL</h3>
                </div>
                <div class="box-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Waktu Ditambahkan</th>
                            <th>Jumlah saldo awal</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td th:text="${saldoAwal.dateCreated}"/>
                                <td th:text="'Rp ' + ${saldoAwal.saldo}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">SALDO AWAL</h3>
                </div>
                <div class="box-body">
                    <form action="/saldo-post" method="post" class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-money" /></span>
                            <input class="form-control" type="number" name="saldo" placeholder="Nominal Saldo Awal"/><br/>
                        </div>
                        <br/>
                        <button class="form-control btn btn-primary" type="submit">OK</button>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </section>

    </div>
    <!-- /.content -->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js/"></script>
<script type="text/javascript" src="/js/header.js/"></script>
</body>
</html>